@namespace Mravenci.Pages


<div class="game-container">
    <div class="game-area">

        <div class="board">
            <div class="@($"player-column{(aktualniHrac == cerni ? " active-player" : "")}")">
                <h2>@cerni.Jmeno</h2>

                <div class="scoreboard">
                    <div class="score-item">Hrad: <strong>@cerni.Hrad</strong></div>
                    <div class="score-item">Cihly: <strong>@cerni.PocetCihel</strong></div>
                    <div class="score-item">Zbraně: <strong>@cerni.PocetZbrani</strong></div>
                </div>
            </div>

            <div class="castle-column">
                    <h1 class="win">@vytezstvi</h1>
            </div>

            <div class="@($"player-column{(aktualniHrac == cerveni ? " active-player" : "")}")">
                <h2>@cerveni.Jmeno</h2>
                <div class="scoreboard">
                    <div class="score-item">Hrad: <strong>@cerveni.Hrad</strong></div>
                    <div class="score-item">Cihly: <strong>@cerveni.PocetCihel</strong></div>
                    <div class="score-item">Zbraně: <strong>@cerveni.PocetZbrani</strong></div>
                </div>
            </div>

        </div>
        @* ruka hráče *@
        <div class="hand">
            @for (int i = 0; i < aktualniRuka.Count; i++)
            {
                var index = i; // Zajistí správné uzavření hodnoty
                var karta = aktualniRuka[index];
                <div class="@($"card{(karta.JeKartaHratelna(aktualniHrac) ? "" : " card-disabled")}")"
                    @onclick="() => { if (karta.JeKartaHratelna(aktualniHrac)) HracZahralKartu(index); }">
                    <div class="discard">
                        <div class="discard-button" @onclick="@((MouseEventArgs e) => ZahodKartu(index))"
                            @onclick:stopPropagation="true">X
                        </div>
                    </div>
                    <div class="card-title">@karta.Nazev</div>
                    <div class="card-cost">💰@karta.Cena</div>
                    <div class="card-effect">@karta.Popis</div>
                </div>
            }
        </div>
    </div>
</div>
